<div class="homepage">
    <div class="container">
        <aside>
            <h1>Sidebar</h1>
        </aside>
        <section>
            <h1>Main Content Area</h1>
            <div>
                <h2>Area 1</h2>
            </div>
            <div>
                <h2>Area 2</h2>
            </div>
        </section>
    </div>
    <footer>
        <h1>Footer</h1>
    </footer>
</div>