<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Layout Assignment</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
{{{body}}}
</body>
</html>
