/** layout Style is Mobile First **/
/** Default **/
html, body, .homepage {
  height: 100%;
  margin: 0; }

h1 {
  margin: 0; }

/** Home Page style **/
.homepage {
  /** Main Container Area **/
  /** Main Footer Area **/ }
  .homepage .container {
    margin: 10px;
    /** Only for Tablet**/
    /** Only for Desktop **/ }
    .homepage .container > * {
      box-sizing: border-box;
      padding: 20px;
      margin-bottom: 10px; }
    .homepage .container:last-child {
      margin-bottom: 0px; }
    .homepage .container aside {
      background-color: dodgerblue; }
    .homepage .container section {
      background-color: green;
      display: block; }
      .homepage .container section > div {
        box-sizing: border-box;
        padding: 10px;
        background-color: darkgreen;
        margin-bottom: 10px; }
        .homepage .container section > div:last-child {
          margin-bottom: 0px; }
    @media only screen and (min-width: 450px) {
      .homepage .container section {
        padding: 10px; }
        .homepage .container section > div {
          width: calc(50% - 5px);
          display: inline-block;
          margin-right: 5px; }
          .homepage .container section > div:last-of-type {
            margin-right: 0;
            margin-left: 5px; } }
    @media only screen and (min-width: 840px) {
      .homepage .container {
        width: 820px;
        margin: 0 auto; }
        .homepage .container:after {
          content: ' ';
          display: table;
          clear: both; }
        .homepage .container aside {
          width: 300px;
          float: right;
          margin-left: 10px; }
        .homepage .container section {
          height: 400px;
          margin-right: 10px;
          float: left;
          width: 500px;
          display: inline-block; }
        .homepage .container section > div {
          width: 220px;
          margin: 10px; }
          .homepage .container section > div:last-of-type {
            margin: 10px; } }
  .homepage footer {
    padding: 20px;
    background-color: royalblue;
    min-height: 100px;
    box-sizing: border-box;
    height: calc(100% - 352px); }
    @media only screen and (min-width: 450px) {
      .homepage footer {
        height: calc(100% - 234px); } }
    @media only screen and (min-width: 840px) {
      .homepage footer {
        height: calc(100% - 410px); } }

/*# sourceMappingURL=style.css.map */
