/** layout Style is Mobile First **/

/** Default **/
html, body, .homepage {
  height: 100%;
  margin: 0;
}

h1 {
  margin: 0;
}
/** Home Page style **/
.homepage {
  /** Main Container Area **/
  .container {
    margin: 10px;
    & > * {
      box-sizing: border-box;
      padding: 20px;
      margin-bottom: 10px;
    }
    &:last-child {
      margin-bottom: 0px;
    }
    aside {
      background-color: dodgerblue;
    }
    section {
      background-color: green;
      display: block;
      & > div {
        box-sizing: border-box;
        padding: 10px;
        background-color: darkgreen;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
    /** Only for Tablet**/
    @media only screen and (min-width: 450px) {
      section {
        padding: 10px;
        & > div {
          width: calc(50% - 5px);
          display: inline-block;
          margin-right: 5px;
          &:last-of-type {
            margin-right: 0;
            margin-left: 5px;
          }
        }
      }
    }
    /** Only for Desktop **/
    @media only screen and (min-width: 840px) {
      &:after {
        content: ' ';
        display: table;
        clear: both;
      }
      width: 820px;
      margin: 0 auto;
      aside {
        width: 300px;
        float: right;
        margin-left: 10px;
      }
      section {
        height: 400px;
        margin-right: 10px;
        float: left;
        width: 500px;
        display: inline-block;

      }
      section > div {
        width: 220px;
        margin: 10px;
        &:last-of-type {
          margin: 10px;
        }
      }
    }

  }
  /** Main Footer Area **/
  footer {
    padding: 20px;
    background-color: royalblue;
    min-height: 100px;
    box-sizing: border-box;
    height: calc(100% - 352px);
    @media only screen and (min-width: 450px) {
      height: calc(100% - 234px)
    }
    @media only screen and (min-width: 840px) {
      height: calc(100% - 410px);
    }
  }
}